//colors
$white: #FFFFFF;
$black: #000000;
$red: #FF0000;

$enerDronesBlue: #43b2e5;
$enerDronesMediumBlue: #2264b0;
$enerDronesDarkBlue: #00020c;
$enerDronesLightGray: #9d9fa2;
$enerDronesDarkGray: #212529;
