//colors
$white: #FFFFFF;
$black: #000000;
$red: #FF0000;
//$enerDronesBlue: #2264b0;
$enerDronesBlue: #43b2e5;
$enerDronesLightGray: #9d9fa2;
$enerDronesDarkGray: #212529;
$enerDronesDarkBlue: #00020c;